2

In [5]:
x=int(input())
if(x%2==0):
     print("even no")
else:
      print("odd no ")

6
even no

1

In [3]:
a=3
b=5

a=a+b
b=a-b
a=a-b

print("a= ",a)
print("b= ", b)

a=  5
b=  3

3

In [8]:
num=int(input())
print(num**0.5)

25
5.0

In [9]:
n=int(input())
print("order is:")
for i in range(1,n+1):
    
    print(i)
print("the reverse is:")    
for i in range(n,0,-1):
    
    print(i)

5
order is:
1
2
3
4
5
the reverse is:
5
4
3
2
1

In [15]:
r=int(input("enter the radius of the sphere:"))
vol=(4/3*3.14)*r*r*r
print(vol)

enter the radius of the sphere:8
2143.5733333333333

In [19]:
for i in range(1,101):
    if(i%2==0):
        print(i, "even no.", end=" ")
    else:
        print(i, "odd no.", end=" ")

1 odd no. 2 even no. 3 odd no. 4 even no. 5 odd no. 6 even no. 7 odd no. 8 even no. 9 odd no. 10 even no. 11 odd no. 12 even no. 13 odd no. 14 even no. 15 odd no. 16 even no. 17 odd no. 18 even no. 19 odd no. 20 even no. 21 odd no. 22 even no. 23 odd no. 24 even no. 25 odd no. 26 even no. 27 odd no. 28 even no. 29 odd no. 30 even no. 31 odd no. 32 even no. 33 odd no. 34 even no. 35 odd no. 36 even no. 37 odd no. 38 even no. 39 odd no. 40 even no. 41 odd no. 42 even no. 43 odd no. 44 even no. 45 odd no. 46 even no. 47 odd no. 48 even no. 49 odd no. 50 even no. 51 odd no. 52 even no. 53 odd no. 54 even no. 55 odd no. 56 even no. 57 odd no. 58 even no. 59 odd no. 60 even no. 61 odd no. 62 even no. 63 odd no. 64 even no. 65 odd no. 66 even no. 67 odd no. 68 even no. 69 odd no. 70 even no. 71 odd no. 72 even no. 73 odd no. 74 even no. 75 odd no. 76 even no. 77 odd no. 78 even no. 79 odd no. 80 even no. 81 odd no. 82 even no. 83 odd no. 84 even no. 85 odd no. 86 even no. 87 odd no. 88 even no. 89 odd no. 90 even no. 91 odd no. 92 even no. 93 odd no. 94 even no. 95 odd no. 96 even no. 97 odd no. 98 even no. 99 odd no. 100 even no.

In [20]:
import math
math.sqrt(9)

3.0

In [63]:

import math                  
a=float(input('Enter A '))
b=float(input('Enter B '))
c=float(input('Enter C '))
d=(b**2)-4*a*c
if(d==0):
    print("imaginarry or eual roots exist")
else:
    e1=((-b+math.sqrt(d))/(2*a)) 
    e2=((-b-math.sqrt(d))/(2*a)) 
print("Roots of equations are  :",e1,e2)

Enter A 1
Enter B -2
Enter C 1
imaginarry or eual roots exist
Roots of equations are  : 1.0 1.0

In [21]:
a=(input("input your no: "))

print(len(a))

input your no: 852741963
9

In [23]:
num=int(input("enter the number: "))
count=0
for i in range(2,num//2+1,1):
    if(num%i==0):
        count=1
        break
if count==1:
    print("False , not a Prime number")
else:
    print("True, Its a Prime number")

entr the nmbr 95
False , not a Prime number

Write a program that asks the user for a number n and prints the sum of the
numbers 1 to n such that only multiples of three or five are considered in the sum

In [3]:
n=int(input("enter the number: "))
sum=0
for i in range(1,n+1):
    if i%3==0 or i%5==0:
        sum +=i
print("Sum is: ", sum)

enter the number: 17
Sum is:  60

In [7]:
n=int(input("Enter a Number : "))
key=input("Enter + for Sum and * for product : ")
if key== '+':
    ans=0
    for i in range(1,n+1):
        ans+=i
elif key== '*':
    ans=1
    for i in range(1,n+1):
        ans*=i
else:
    print("Not Valid")
print("Answer is : ",ans)

Enter a Number : 8
Enter + for Sum and * for product : +
Answer is :  36

In [8]:

sum=0
for i in range(1,1000):
    if i%3==0 or i%5==0:
        sum +=i
print("Sum is: ", sum)

Sum is:  233168

In [9]:

for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i, end=" ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [12]:
n=100
sum=0
for i in range(1, 101):
    j=i**2
    sum+=j
print(sum)    
print("square of the sum", sum**2)
print("the difference is: ", sum**2-sum)

338350
square of the sum 114480722500
the difference is:  114480384150

In [30]:
n=int(input("entr number:  "))
for num in range(2,n):
    for i in range(2,num):
        if (num%i==0 and i!=num):
             break
    else:
        print(num)

entr number:  8
2
3
5
7

In [23]:
n=int(input("enter the number: "))
fact=1
for i in range(1,n+1):
    fact *=i
    print(fact)

enter the number: 8
1
2
6
24
120
720
5040
40320

In [26]:
n=int(input("enter the number: "))
fib=0
for i in range(1,n+1):
    fib +=i
    print(fib)

enter the number: 8
1
3
6
10
15
21
28
36

In [38]:

num=int(input("enter the number : "))

for i in range(1,num+1):
    if num%i==0:
        print("factor of", num, "are :")
        print(i)

enter the number : 42
factors of 42 are :
1
factors of 42 are :
2
factors of 42 are :
3
factors of 42 are :
6
factors of 42 are :
7
factors of 42 are :
14
factors of 42 are :
21
factors of 42 are :
42

WAP for patterns

In [39]:
for i in range(1,6):
    for j in range(0,i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [40]:

n=4
for i in range(1,n+1):
    print(' '*(n-i),'* '*i)

    *
   * *
  * * *
 * * * *

In [53]:
def numpat(n):   
    num = 1 
    for i in range(0, n): 
        for j in range(0, i+1): 
            
            print(num, end=" ") 
            num = num+1
        print()
n = 5
numpat(n)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [44]:

for i in range(5,0,-1):
        n="* " * i
        print(n)

* * * * *
* * * *
* * *
* *
*

In [55]:
def number(n): 
    num=1
    for i in range(0, n):  
        for j in range(0, i+1):   
            print(num, end=" ") 
       
        num = num + 1
        print() 
        
n = 5
number(n)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [58]:
def numpat(n):   
    num = 65
    for i in range(0, n): 
        for j in range(0, i+1): 
            ch =chr(num)
            print(ch ,end=" ") 
            num = num+1
        print()
n = 5
numpat(n)

A
B C
D E F
G H I J
K L M N O